
.menubar{
    position: relative;

}
.sub-menu-wrap {
    box-sizing:border-box;
    border: none;
    border-radius: 8px;
    position:absolute;
    top: 75%;
    right:4%;
    width: 60%;
    max-width: 360px;
    background-color: white;
    color:black;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
    margin-top: 4px;
}

.sub-menu{
    padding:10px 0px;
    margin:20px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.sub-menu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:12px 0px;
    color: #525252;
}
.sub-menu-link p{
    width: 100%;
    padding-left: 8px;

}

.menu-open {
    max-height: 400px;
    border: 1px solid #dedede;

}